@page
@model IndexModel

@section RightCommands
    {
    <a href="#" class="nav-link text-dark" data-bs-toggle="modal" data-bs-target="#settings"><i class="bi bi-gear"></i> Settings</a>
}

<div x-data="translator">

    <div class="modal fade" id="settings" tabindex="-1" aria-labelledby="settingsTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="settingsTitle">Settings</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <div class="modal-body">
                    <div class="row mb-3">
                        <label for="provider" class="col-sm-2 col-form-label">Provider</label>
                        <div class="col-sm-10">
                            <select class="form-select" id="provider" x-model="provider">
                                <option value="OpenAI">OpenAI</option>
                                <option value="Azure">Azure</option>
                            </select>
                        </div>
                    </div>

                    <div x-cloak class="mb-3" x-show="provider === 'Azure'">
                        <div class="d-flex align-items-center">
                            <input class="d-flex form-control me-2" placeholder="Insert Azure Resource name..." aria-label="Insert Azure Resource name"
                                   x-model="resourceName" />
                            <i class="d-flex bi bi-info-circle text-body-secondary"
                               data-bs-toggle="tooltip" data-bs-html="true"
                               data-bs-title="The name of the Azure OpenAI Resource that contains the ChatGPT model."></i>
                        </div>
                    </div>

                    <div class="mb-3 d-flex align-items-center">
                        <input class="d-flex form-control me-2" type="password" placeholder="Insert API Key..." aria-label="Insert API Key"
                               x-model="apiKey" />
                        <i class="d-flex bi bi-info-circle text-body-secondary"
                           data-bs-toggle="tooltip" data-bs-html="true"
                           data-bs-title="The API Key isn't saved in any way on either the client or the server. It is only used to invoke ChatGPT service."></i>
                    </div>

                    <div class="d-flex align-items-center">
                        <input class="d-flex form-control me-2" placeholder="Insert the model name..." aria-label="Insert the model name"
                               x-model="model" list="models" />
                        <datalist id="models">
                            <option value="gpt-3.5-turbo">gpt-3.5-turbo</option>
                            <option value="gpt-4">gpt-4</option>
                            <option value="gpt-4-32k">gpt-4-32k</option>
                        </datalist>
                        <i class="d-flex bi bi-info-circle text-body-secondary"
                           data-bs-toggle="tooltip" data-bs-html="true"
                           data-bs-title="This is the model to use for ChatGPT. If you're using OpenAI, allowed values are: gpt-3.5-turbo, gpt-4 or gpt-4-32k. If you're working with Azure OpenAI service, model name must match the deployment name you have specified in the Azure AI Studio."></i>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <figure class="text-center">
            <blockquote class="blockquote">
                <i class="bi bi-translate" style="font-size: 2rem;" aria-hidden="true"></i>
            </blockquote>
            <figcaption class="blockquote-footer">
                Translate text using AI
            </figcaption>
        </figure>
    </div>

    <div class="row">
        <div class="col-6">
            <div class="input-group">
                <textarea x-on:input.debounce.500ms="translate" class="form-control" rows="10" placeholder="Insert your text here..." x-model="sourceText" x-on:change="errorMessage = null"></textarea>
            </div>
        </div>
        <div class="col-6">
            <select class="form-select" x-model="language" x-on:change="translate">
                <option value="" disabled>Select the target language</option>
                @foreach (var language in Model.Languages)
                {
                    <option value="@language.Code">@language.Name</option>
                }
            </select>
            <ul x-show="!isBusy" class="mt-2 list-group list-group-flush">
                <template x-for="translation in translations">
                    <li class="list-group-item">
                        <span x-text="translation.text"></span>
                        <span class="text-body-secondary" x-text="translation.description"></span>
                    </li>
                </template>
            </ul>
        </div>
    </div>

    <div class="row">
        <template x-if="errorMessage">
            <div class="alert alert-danger alert-dismissible fade show mt-3" role="alert">
                <i class="bi bi-exclamation-triangle-fill me-2" aria-hidden="true"></i>
                <span x-text="errorMessage"></span>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        </template>
    </div>
</div>

@section Scripts
    {
    <script>
        document.addEventListener("alpine:init", translator);
    </script>
}
