[x-cloak] {
    display: none !important;
}

html {
    font-size: 14px;
    position: relative;
    min-height: 100%;
    scroll-behavior: smooth;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

body {
    margin-bottom: 80px;
}

*:focus {
    box-shadow: none !important;
}

.navbar-brand {
    padding-top: 0px;
    padding-bottom: 0px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px;
}

.nav-link-bottom {
    display: inline !important;
}

.tooltip-inner {
    text-align: left;
}

input:focus {
    outline: 0px !important;
    box-shadow: none !important;
}

.btn-clipboard {
    line-height: 1;
    color: var(--bs-body-color);
    background-color: var(--bd-pre-bg);
    border: 0;
    border-radius: .25rem;
    margin-right: -.4em
}

    .btn-clipboard:hover {
        color: var(--bs-link-hover-color)
    }

    .btn-clipboard:focus {
        z-index: 3
    }

.btn-clipboard {
    position: relative;
    z-index: 2;
}